<!--
<nav class="navbar navbar-default" style="margin:0;" ui-view="topbar"></nav>
<div id="red"></div>
<div id="gray"></div>
<nav class="navbar-default navbar-static-side menu-sidebar ng-scope" ui-view="navigation" role="navigation"></nav>
-->

<md-content>
<div layout="column">
	<!-- Header: toolbar -->
	<div ui-view="header" flex ></div> 
	<div ui-view="sidenav" ></div> 
	<!-- Page Content Wrapper -->
	<div id="pageContent" layout="row" flex layout-wrap >
		<div flex ui-view="content" layout-fill ></div> 
	</div>
	<!-- Page Content Wrapper -->
	<div flex>
		<div ui-view="footer"></div> 
	</div>
	<!-- </ui-view> -->
</div>
</md-content>
