<!--
<nav class="navbar navbar-default" style="margin:0;" ui-view="topbar"></nav>
<div id="red"></div>
<div id="gray"></div>
<nav class="navbar-default navbar-static-side menu-sidebar ng-scope" ui-view="navigation" role="navigation"></nav>
-->
<div main-content>

<div class="row header-row">
	<div class="col-xs-12" ui-view="header">
		<!-- PAGE CONTENT BEGINS -->
	</div><!-- /.col -->
</div>

<div id="page-wrapper">
	<div class="row header-row">
		<div class="col-xs-12" ui-view="content">
			<!-- PAGE CONTENT BEGINS -->
		</div><!-- /.col -->
	</div>
</div><!-- /.page-content -->

<div class="row footer-row">
	<div class="col-xs-12" ui-view="footer">
		<!-- PAGE FOOTER BEGINS -->
	</div><!-- /.col -->
</div><!-- /.row -->

</div><!-- /.main-content -->
