<div layout="column">
<!-- Shops Section Navigation -->
  <div flex>First item in column</div>
	<!-- Shops Section Features -->
	<h1>Featured Shops</h1>
	<div layout="row" layout-wrap>
		<div flex="25">
			<md-card>
			<md-card-title>
			<md-card-title-text>
			<span class="md-headline">Card with  image</span>
			<span class="md-subhead">Extra Large</span>
			</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
			<div class="md-media-xl card-media"></div>
			<md-card-actions layout="column">
			<md-button class="md-icon-button" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Settings">
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Share">
			<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
			</md-button>
			</md-card-actions>
			</md-card-content>
			</md-card>
		</div>
		<div flex="25">
			<md-card>
			<md-card-title>
			<md-card-title-text>
			<span class="md-headline">Card with  image</span>
			<span class="md-subhead">Extra Large</span>
			</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
			<div class="md-media-xl card-media"></div>
			<md-card-actions layout="column">
			<md-button class="md-icon-button" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Settings">
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Share">
			<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
			</md-button>
			</md-card-actions>
			</md-card-content>
			</md-card>

		</div>
		<div flex="25">
			<md-card>
			<md-card-title>
			<md-card-title-text>
			<span class="md-headline">Card with  image</span>
			<span class="md-subhead">Extra Large</span>
			</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
			<div class="md-media-xl card-media"></div>
			<md-card-actions layout="column">
			<md-button class="md-icon-button" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Settings">
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Share">
			<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
			</md-button>
			</md-card-actions>
			</md-card-content>
			</md-card>
		</div>
		<div flex="25">
			<md-card>
			<md-card-title>
			<md-card-title-text>
			<span class="md-headline">Card with  image</span>
			<span class="md-subhead">Extra Large</span>
			</md-card-title-text>
			</md-card-title>
			<md-card-content layout="row" layout-align="space-between">
			<div class="md-media-xl card-media"></div>
			<md-card-actions layout="column">
			<md-button class="md-icon-button" aria-label="Favorite">
			<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Settings">
			<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="Share">
			<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
			</md-button>
			</md-card-actions>
			</md-card-content>
			</md-card>
		</div>
	</div>
	<!-- Shops Section List -->
	<h1>All Shops</h1>
</div>


